@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
.header--container{
    height: 55px;
    background-color: #F55A5A;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header--image{
    height: 24px;
    width: 24px;
}

.header--title{
    color: white;
    font-weight: 400;
    margin-left: 8px;
}
.card--container{
    display: grid;
    grid-template-columns: 30% auto;
    margin: 25px 40px;
    grid-gap: 18px;
}
.grid--image{
    background-color: #3498db;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.grid--image_location{
    width: 125px;
    height: 175px;
    border-radius: 5px;
}
.grid--content{
    height: 200px;
    background-color: chartreuse;

}
























